*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    padding: 10px;
    background-color: #48c5ce;
    color: white;
    text-align: center;

}

.titulo{
    font-size: 26px;
}


section{
    background-image: url(../Imagens/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 20px;
}

.formcontainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    float: right;
    padding: 20px;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
}

input[type="submit"]{
    background-color: #48c5ce;
    color: white;
    font-weight: bolder;
    
}

footer{
    background-color:#202121 ;
    padding: 40px;
    /* text-align: center; */
}

img{
 width: 160px;
 float: left;
}

.descrition{
    color: white;
    text-align: left;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;

}

.descrition p , .descrition h3{
    margin-bottom: 20px;
}


.descrition h3{
    font-size: 24px ;
}

@media screen and (max-width:550px){

    

    .formcontainer{
        margin: auto;
        max-width: 100%;
        clear: right;
    }
    
    .descrition p , .descrition h3{
        margin-bottom: 10px;
    }

    .descrition h3{
        font-size: 20px ;
    }

    .descrition p{
        font-size: 13px;
    }
    
}

@media screen and (max-width:420px){

    .formcontainer{
        max-width: 100%;
    }

    img{
        width: 100px;
    }

    .descrition p , .descrition h3{
        margin-bottom: 5px;
    }

    .descrition h3{
        font-size: 15px ;
    }

    .descrition p{
        font-size: 10px;
    }
}

@media screen and (max-width:320px){

    img{
        width: 90px;
    }

    .descrition p , .descrition h3{
        margin-bottom: 5px;
    }

    .descrition h3{
        font-size: 12px ;
    }

    .descrition p{
        font-size: 9px;
    }
}